:root {
  --primary: #d434fe;
  --secondary: #903aff;
  --tertiary: #150e28;
  --neutral: #ffffff;
  --gradient: linear-gradient(to left, #903aff, #fe34b9);
}
html,
body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  background: none;
  outline: none;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.button {
  padding: 1em 3em;
  color: var(--neutral);
  background: var(--gradient);
  border-radius: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}
.inter {
  font-family: Inter, sans-serif;
}
.mont {
  font-family: Montserrat, sans-serif;
}
.clash {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
}
.logo > span:nth-child(1) {
  color: var(--neutral);
}
.logo > span:nth-child(2) {
  color: var(--primary);
}
.header {
  position: relative;
  background-color: var(--tertiary);
}
img.purple-blur {
  position: absolute;
  width: 24.75rem;
  height: 27.625rem;
  left: -90px;
}
img.purple-blur:nth-child(2) {
  display: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  img.purple-blur {
    right: 0;
    left: 100px;
    top: 100px;
  }
  img.purple-blur:nth-child(2) {
    display: block;
    width: 59.4375rem;
    height: 62.125rem;
    top: -50px;
    left: 350px;
  }
}
